@use "variables";
@use "main";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: variables.$background-dark;
  position: relative;

  .logo img {
    height: 70px;
    transition: transform 0.3s ease;
  }

  // Checkbox oculto
  #menu-toggle {
    display: none;
  }

  // Ícono de menú hamburguesa
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 3;

    span {
      height: 3px;
      width: 25px;
      background: variables.$text-color;
      margin: 4px 0;
      transition: all 0.3s ease;
    }
  }

  nav.menu {
    display: flex;

    a {
      color: variables.$text-color;
      margin-left: 2rem;
      text-decoration: none;
      font-weight: 400;
      transition: color 0.3s ease;

      &:hover {
        color: variables.$primary-color;
      }
    }
  }

  @media (max-width: variables.$breakpoint-md) {
    .menu-icon {
      display: flex;
    }

    nav.menu {
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: variables.$background-dark;
      display: none;

      a {
        padding: 1rem 2rem;
        margin: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    // Muestra menú si checkbox está tildado
    #menu-toggle:checked + .menu-icon + nav.menu {
      display: flex;
    }
  }
}
